@import "../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.landingpage {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  font-family: $navFont;

  @media (max-width: 576px) {
    height: 80vh;
  }

  .splatter {
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;

    @media (max-width: 576px) {
      z-index: -1;
    }
  }

  .landingpage__text {
    h1 {
      font-size: 11em;
      line-height: 0.6em;
      font-family: "Patua One", cursive;
      padding-bottom: 20px;
      background: -webkit-linear-gradient(#ee0b77, #fd6a04);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (max-width: 992px) {
        font-size: 9em;
      }

      @media (max-width: 768px) {
        font-size: 7em;
      }

      @media (max-width: 576px) {
        font-size: 6em;
      }
    }

    p {
      z-index: 1001;
      position: absolute;
      top: 0;
      left: 50px;
      font-size: 1.5em;

      @media (max-width: 992px) {
        font-size: 1.3em;
        top: 10px;
      }

      @media (max-width: 768px) {
        font-size: 1.2em;
        top: 50px;
      }

      @media (max-width: 576px) {
        font-size: 1.1em;
      }
    }
  }

  .landingpage__icons {
    position: absolute;
    bottom: 50px;
    left: 20px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    align-self: flex-end;
    .icon {
      color: rgb(218, 216, 216);
      height: 50px;
      width: 50px;
    }
    a:hover {
      transform: scale(1.5em);
      cursor: pointer;
    }

    a:hover .icon {
      color: $purple;
    }
  }
}
