@import "../../variables.scss";

.skills {
  position: relative;
  img {
    height: 50vh;
    z-index: -3;
  }
  .skills__title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90vw;

    span {
      color: $purple;
      margin: 0 10px;
    }

    div {
      height: 2px;
      width: 20vw;
      background: $purple;
    }
  }

  .skills__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
