@import "../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.skills {
  position: relative;
  img {
    height: 30vh;
    z-index: -3;
  }
  .skills__title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90vw;
    font-family: "Patua One", cursive;

    span {
      color: $purple;
      margin: 0 10px;
    }

    div {
      height: 2px;
      width: 20vw;
      background: $purple;
    }
  }

  .skills__container {
    margin-top: 75px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
