@import "../../variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.contact {
  margin-top: 250px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    margin-top: 200px;
  }
  .contact__title {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90vw;
    font-family: "Patua One", cursive;

    span {
      color: $purple;
      margin: 0 10px;
    }

    div {
      height: 2px;
      width: 20vw;
      background: $purple;
    }
  }

  p {
    font-family: "Patua One", cursive;
    font-size: 1.5em;

    @media (max-width: 768px) {
      font-size: 1em;
    }
  }

  .contact__container {
    display: flex;
    align-items: center;
    margin: 50px;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    img {
      height: 30vh;
      margin-right: 5%;

      @media (max-width: 992px) {
        margin-bottom: 50px;
      }

      @media (max-width: 768px) {
        height: 20vh;
      }
    }
    form {
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        width: 80vw;
      }
      input {
        border: 2px solid #b13bff70;
        background: none;
        margin-bottom: 5px;
        height: 2em;
        font-size: 1em;
        padding: 5px 10px;

        @media (max-width: 768px) {
          font-size: 0.8em;
          padding: 2px 5px;
        }
      }

      textarea {
        border: 2px solid #b13bff70;
        background: none;
        font-size: 1.3m;
        margin-bottom: 5px;
        padding: 5px 10px;

        @media (max-width: 768px) {
          height: 100px;
        }
      }

      button {
        align-self: flex-end;
        width: 40%;
        font-size: 1.2em;
        background-color: white;
        color: $purple;
        font-weight: bold;
        border: 2px solid $purple;
        padding: 10px 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .success {
    width: 50vw;
    text-align: center;
    padding: 20px 0;
    background-color: #ecfadc;
    border: 2px solid green;
  }

  .failure {
    width: 50vw;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(255, 94, 94);
    border: 2px solid red;
  }
}
