.skill-container {
  position: relative;
  .icon {
    height: 50px;
    width: 50px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    background: white;

    &:hover {
      cursor: pointer;
    }
  }

  span {
    position: absolute;
    z-index: -2;
    bottom: 10px;
    font-size: 0.8em;
    width: 100%;
    text-align: center;
  }
}
