@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

$navFont: "Source Code Pro", monospace;

$blue: #1bbcff;
$green: #23d962;
$pink: #ff1b9d;
$purple: #b23bff;
$yellow: #ffd116;
